 body{
   background-color: #eef3f4;
 }
 .side-panel {
    height:700px;
}
.button-side{
  border-radius: 50%;
}
.rating-color {
    color: #fbc634 !important
}
.rating-col{
  color:#eef3f4;
}
.btnrounded{
  border-radius: %;
}
  img {
  float: left;
  width:50px;
  height:50px;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.pushtoex{
  float: right;
  position: absolute;
  right: 100px;
}
.chat-icon{
  float: right;
  right: -5px;
  position: absolute;
  -ms-transform: rotate(20deg); /* IE 9 */
  transform: rotate(290deg);

}
.chat-icon i{
  color: green;
}
.dowload{
  color:rgb(201, 209, 203);
}
.delete{
  color: red;
}
.share{
  background-color: rgb(232, 190, 21);

}
.respond{
  background-color:  #198754;
}